@model IEnumerable<QLNhaSach.Models.Storage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Book Name</th>
            <th>Transfer</th>
            <th>Price</th>
            <th>Cost</th>
            <th>Num Of Books</th>
            <th>Note</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var book = ((Dictionary<int, QLNhaSach.Models.Book>)ViewBag.Books)[item.BookId];
            <tr>
                <td>@book.BookName</td> 
                <td>@Html.DisplayFor(modelItem => item.Transfer)</td>
                <td>@book.Price</td>
                <td>@Html.DisplayFor(modelItem => item.Cost)</td>
                <td>@book.NumOfBook</td> 
                <td>@Html.DisplayFor(modelItem => item.Note)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.StorageID" class="btn btn-success"><i class="fa-solid fa-circle-info"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.StorageID" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
