@model IEnumerable<QLNhaSach.Models.Book>

@{
    ViewData["Title"] = "Store";
}

<h2 class="my-4 text-center">Store</h2>

<div class="row justify-content-center">
    <div class="col-md-8">
        <form asp-action="Index" class="input-group mb-3">
            <input type="text" name="searchString" class="form-control" placeholder="Tìm kiếm sản phẩm..." />
            <input type="number" name="minPrice" class="form-control" step="1" placeholder="$min" style="max-width: 100px;" />
            <input type="number" name="maxPrice" class="form-control" step="1" placeholder="$max" style="max-width: 100px;" />
            <button class="btn btn-outline-secondary" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
</div>

<div class="row">
    @foreach (var book in Model)
    {
        <div class="col-3">
            <div class="card my-2 store-card">
                <a class="a-cleanup" asp-controller="Store" asp-action="Details" asp-route-id="@book.BookId">
                    <img src="@book.ImageUrl" class="card-img-top card-img-custom">
                    <div class="card-body" style="height: 6em;">
                        <h5 class="mb-3">@book.BookName</h5>
                    </div>
                    <div class="card-body">
                        <span class="card-text">@book.Price.ToString("c")</span>
                        <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@book.BookId" class="btn btn-primary float-right store-btn"><i class="fa-solid fa-cart-plus"></i></a>
                    </div>
                </a>
            </div>
        </div>
    }
</div>
